[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git 
[submodule ".vim/bundle/vim-ros"]
	path = .vim/bundle/vim-ros
	url = https://github.com/taketwo/vim-ros.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-plugin-minibufexpl"]
	path = .vim/bundle/vim-plugin-minibufexpl
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl.git
